<section id="the-blue-marble" class="slide level2">
<h2>The Blue Marble</h2>
<p><img data-src="labs/mapmaking/img/blue_marble.jpg" style="height:80.0%" /></p>
</section>
<section>
<section id="de-la-sphère-au-plan" class="title-slide slide level1">
<h1>De la sphère au plan</h1>

</section>
<section id="projections-azimutales" class="slide level2">
<h2>Projections azimutales</h2>
<p><img data-src="labs/mapmaking/img/proj_azimut.png" /></p>
</section>
<section id="projections-cylindriques" class="slide level2">
<h2>Projections cylindriques</h2>
<p><img data-src="labs/mapmaking/img/proj_cylindrique.png" /></p>
</section>
<section id="projections-coniques" class="slide level2">
<h2>Projections coniques</h2>
<p><img data-src="labs/mapmaking/img/proj_conique.png" /></p>
</section>
<section id="propriétés-des-projections" class="slide level2">
<h2>Propriétés des projections</h2>
<p>Deux propriétés mutuellement exclusives:</p>
<ul>
<li><p>les projections <strong>conformes</strong> conservent les distances;</p></li>
<li><p>les projections <strong>équivalentes</strong> conservent les surfaces.</p></li>
</ul>
<p>Beaucoup de projections sont des compromis qui ne conservent ni angles ni surfaces.</p>
</section></section>
<section>
<section id="projections" class="title-slide slide level1">
<h1>Projections</h1>

</section>
<section id="la-projection-de-mercator" class="slide level2">
<h2>La projection de Mercator</h2>
<ul>
<li>Une projection définie par Mercator au XVIe siècle</li>
<li>La projection de référence pour la navigation:<br />
<em>Les lignes de cap constant sont des lignes droites</em></li>
<li>De vrais problèmes de perception des tailles: <a href="http://thetruesize.com">http://thetruesize.com</a></li>
</ul>
</section>
<section id="la-projection-de-mercator-1" class="slide level2">
<h2>La projection de Mercator</h2>
<p><img data-src="labs/mapmaking/img/world-mercator.jpg" /></p>
</section>
<section id="la-projection-conforme-conique-de-lambert" class="slide level2">
<h2>La projection conforme conique de Lambert</h2>
<ul>
<li>Une des projections définies par J. H. Lambert (1772)</li>
<li>Système adopté en France pendant la 1re guerre mondiale</li>
<li>La <strong>projection officielle dans plusieurs pays d’Europe</strong><br />
notamment la France, la Belgique, l’Estonie, etc.</li>
<li>La <strong>projection de référence en aéronautique</strong><br />
<em>Le plus court chemin entre deux points (grand cercle) est (localement) une ligne droite.</em></li>
</ul>
</section>
<section id="la-projection-lambert-93-à-lign" class="slide level2">
<h2>La projection Lambert 93 à l’IGN</h2>
<p><img data-src="labs/mapmaking/img/ign-morzine.jpg" style="height:80.0%" /></p>
</section>
<section id="carte-de-france-en-lambert-93" class="slide level2">
<h2>Carte de France en Lambert 93</h2>
<p><img data-src="labs/mapmaking/img/france-lambert.png" style="height:80.0%" /></p>
</section>
<section id="carte-deurope-en-lambert-93" class="slide level2">
<h2>Carte d’Europe en Lambert 93</h2>
<p><img data-src="labs/mapmaking/img/europe-lambert.jpg" style="height:80.0%" /></p>
</section>
<section id="projections-standards-dans-les-autres-pays-deurope" class="slide level2">
<h2>Projections standards dans les autres pays d’Europe</h2>
<p><img data-src="labs/mapmaking/img/europe-standard.png" /></p>
</section>
<section id="la-projection-winkel-tripel" class="slide level2">
<h2>La projection Winkel-Tripel</h2>
<p>Projection construite afin de minimiser les distorsions de surface, de direction et de distance (cf. <em>tripel</em>)</p>
<ul>
<li>ni conforme, ni équivalente;</li>
<li>aucune formule de passage inverse;</li>
<li>adoptée par la National Geographic Society depuis 1998</li>
</ul>
</section>
<section id="la-projection-winkel-tripel-1" class="slide level2">
<h2>La projection Winkel-Tripel</h2>
<p><img data-src="labs/mapmaking/img/world-winkel.png" /></p>
</section>
<section id="projection-de-bertin" class="slide level2">
<h2>Projection de Bertin</h2>
<p><img data-src="labs/mapmaking/img/world-bertin.png" /></p>
</section>
<section id="projection-orthographique" class="slide level2">
<h2>Projection orthographique</h2>
<p><img data-src="labs/mapmaking/img/world-korea.png" style="height:80.0%" /></p>
</section>
<section id="httpxkcd.com1799" class="slide level2">
<h2>http://xkcd.com/1799</h2>
<p><img data-src="labs/mapmaking/img/bad_map_projection_time_zones.png" /></p>
</section>
<section id="httpxkcd.com1784" class="slide level2">
<h2>http://xkcd.com/1784</h2>
<p><img data-src="labs/mapmaking/img/bad_map_projection_liquid_resize.png" style="height:80.0%" /></p>
</section></section>
